In [1]:
import pandas as pd 
from sqlalchemy import create_engine 
import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine('sqlite://', echo=False)

In [4]:
csv_1 = "steam_200k.csv"
#csv_2 = r"C:\Users\khanh\Downloads\VGPrices.csv"

In [5]:
steam_200k = pd.read_csv(csv_1)
steam_200k.head()

,Unnamed: 0,User ID,Name of the steam game,behavior,"hours (1 if play, otherwise purchase)"
0,0,151603712,The Elder Scrolls V Skyrim,play,273.0
1,1,151603712,Fallout 4,purchase,1.0
2,2,151603712,Fallout 4,play,87.0
3,3,151603712,Spore,purchase,1.0
4,4,151603712,Spore,play,14.9

In [6]:
steam_rename = steam_200k.rename(columns = {'151603712':'UserID', 'The Elder Scrolls V Skyrim': 'Name'
                                           , "purchase" : "behavior", "1.0": "hours (1 if play, otherwise purchase)", "0":"useless"})
steam_rename.head()

,Unnamed: 0,User ID,Name of the steam game,behavior,"hours (1 if play, otherwise purchase)"
0,0,151603712,The Elder Scrolls V Skyrim,play,273.0
1,1,151603712,Fallout 4,purchase,1.0
2,2,151603712,Fallout 4,play,87.0
3,3,151603712,Spore,purchase,1.0
4,4,151603712,Spore,play,14.9

In [7]:
steam_df = steam_rename.drop(columns = ['useless'])
steam_df.head()

KeyError: "['useless'] not found in axis"

In [58]:
steam_purchase = steam_df[steam_df.behavior != 'play']
steam_purchase.head()
#steam_purchase.count()

,UserID,Name,behavior,"hours (1 if play, otherwise purchase)"
1,151603712,Fallout 4,purchase,1.0
3,151603712,Spore,purchase,1.0
5,151603712,Fallout New Vegas,purchase,1.0
7,151603712,Left 4 Dead 2,purchase,1.0
9,151603712,HuniePop,purchase,1.0

In [59]:
steam_play = steam_df[steam_df.behavior != 'purchase']
steam_play.head()

,UserID,Name,behavior,"hours (1 if play, otherwise purchase)"
0,151603712,The Elder Scrolls V Skyrim,play,273.0
2,151603712,Fallout 4,play,87.0
4,151603712,Spore,play,14.9
6,151603712,Fallout New Vegas,play,12.1
8,151603712,Left 4 Dead 2,play,8.9

In [60]:
steam_play.count()

UserID                                   70489
Name                                     70489
behavior                                 70489
hours (1 if play, otherwise purchase)    70489
dtype: int64

In [61]:
steam_df.to_csv('steam_200k.csv')

In [62]:
steam_play.head()

,UserID,Name,behavior,"hours (1 if play, otherwise purchase)"
0,151603712,The Elder Scrolls V Skyrim,play,273.0
2,151603712,Fallout 4,play,87.0
4,151603712,Spore,play,14.9
6,151603712,Fallout New Vegas,play,12.1
8,151603712,Left 4 Dead 2,play,8.9

In [63]:
vg_prices = pd.read_csv(csv_2)
vg_prices.head()

,Unnamed: 0,Name,IsFree,Metacritic,PCMinReqsText,PriceFinal,ReleaseDate,DLCCount
0,4030,SolidFace Parametric CAD Modeler 2D/3D,False,0,Minimum:OS: Support Windows (r) XP/Vista/7/8Pr...,449.99,Dec 22 2014,0
1,3222,VEGAS Pro 13 Edit - Steam Powered,False,0,Minimum:OS: 64-bit Microsoft(r) Windows 7 Wind...,399.99,Nov 2 2015,0
2,5017,Atavism MMO Creator,False,0,Minimum:OS: Windows XP SP2+Memory: 2 GB RAMDir...,399.00,Jan 20 2015,0
3,12271,VEGAS Pro 14 Edit Steam Edition,False,0,Minimum:OS: Windows 7 | 8 | 8.1 | 10 (64-bit)P...,399.00,Sep 30 2016,0
4,12838,Marvelous Designer 6 For Steam,False,0,Minimum:OS: Microsoft Windows Vista (64bit)Pro...,320.00,Nov 23 2016,0

In [64]:
merge_data = steam_play.merge(vg_prices, on = 'Name')
merge_data.head()

,UserID,Name,behavior,"hours (1 if play, otherwise purchase)",Unnamed: 0,IsFree,Metacritic,PCMinReqsText,PriceFinal,ReleaseDate,DLCCount
0,151603712,Fallout 4,play,87.0,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7
1,87445402,Fallout 4,play,83.0,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7
2,25096601,Fallout 4,play,1.6,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7
3,211925330,Fallout 4,play,133.0,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7
4,115396529,Fallout 4,play,17.9,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7

In [65]:
merge_2 = merge_data.rename(columns = {'hours (1 if play, otherwise purchase)' : 'hours'})
merge_2.head()

,UserID,Name,behavior,hours,Unnamed: 0,IsFree,Metacritic,PCMinReqsText,PriceFinal,ReleaseDate,DLCCount
0,151603712,Fallout 4,play,87.0,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7
1,87445402,Fallout 4,play,83.0,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7
2,25096601,Fallout 4,play,1.6,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7
3,211925330,Fallout 4,play,133.0,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7
4,115396529,Fallout 4,play,17.9,6747,False,84,Minimum:OS: Windows 7/8/10 (64-bit OS required...,59.99,Nov 9 2015,7

In [66]:
merge_3 = merge_2.drop(columns = ['Unnamed: 0', 'PCMinReqsText']) 
merge_3.head()

,UserID,Name,behavior,hours,IsFree,Metacritic,PriceFinal,ReleaseDate,DLCCount
0,151603712,Fallout 4,play,87.0,False,84,59.99,Nov 9 2015,7
1,87445402,Fallout 4,play,83.0,False,84,59.99,Nov 9 2015,7
2,25096601,Fallout 4,play,1.6,False,84,59.99,Nov 9 2015,7
3,211925330,Fallout 4,play,133.0,False,84,59.99,Nov 9 2015,7
4,115396529,Fallout 4,play,17.9,False,84,59.99,Nov 9 2015,7

In [67]:
merge_3.sort_values('PriceFinal', ascending = True).head()

,UserID,Name,behavior,hours,IsFree,Metacritic,PriceFinal,ReleaseDate,DLCCount
29177,3979930,theHunter,play,1.0,True,0,0.0,Jun 3 2014,3
13017,44314169,Sleeping Dogs,play,26.0,False,81,0.0,,26
13018,60608576,Sleeping Dogs,play,0.8,False,81,0.0,,26
13019,26762388,Sleeping Dogs,play,139.0,False,81,0.0,,26
13020,69954842,Sleeping Dogs,play,18.7,False,81,0.0,,26

In [68]:
fallout4_count = merge_3.loc[merge_3['Name'] == 'Fallout 4']
fallout4_count.count()

UserID         167
Name           167
behavior       167
hours          167
IsFree         167
Metacritic     167
PriceFinal     167
ReleaseDate    167
DLCCount       167
dtype: int64

In [69]:
sleeping_dogs_count = merge_3.loc[merge_3['Name'] == 'Sleeping Dogs']
sleeping_dogs_count.head()

,UserID,Name,behavior,hours,IsFree,Metacritic,PriceFinal,ReleaseDate,DLCCount
12945,53875128,Sleeping Dogs,play,11.5,False,81,0.0,,26
12946,11373749,Sleeping Dogs,play,31.0,False,81,0.0,,26
12947,202742019,Sleeping Dogs,play,104.0,False,81,0.0,,26
12948,272820556,Sleeping Dogs,play,0.7,False,81,0.0,,26
12949,72842694,Sleeping Dogs,play,4.8,False,81,0.0,,26

In [83]:
import numpy as np

free_games = merge_3[merge_3['PriceFinal'] == 0.0]
free_games['PriceFinal'].unique()
free_games.count()

array([0.])

In [71]:
paid_games = merge_3[merge_3['PriceFinal'] != 0.0]
paid_games.count()

UserID         24838
Name           24838
behavior       24838
hours          24838
IsFree         24838
Metacritic     24838
PriceFinal     24838
ReleaseDate    24838
DLCCount       24838
dtype: int64

In [72]:
free_games.head()

,UserID,Name,behavior,hours,IsFree,Metacritic,PriceFinal,ReleaseDate,DLCCount
988,151603712,Path of Exile,play,8.1,True,86,0.0,Oct 23 2013,0
989,151229648,Path of Exile,play,0.2,True,86,0.0,Oct 23 2013,0
990,42061089,Path of Exile,play,0.7,True,86,0.0,Oct 23 2013,0
991,61676491,Path of Exile,play,0.2,True,86,0.0,Oct 23 2013,0
992,68224834,Path of Exile,play,25.0,True,86,0.0,Oct 23 2013,0

In [73]:
free_games['hours'].mean()

81.96327676718364

In [74]:
paid_games['hours'].mean()

26.55965456155859

In [75]:
free_games['Metacritic'].mean()

55.453912831156146

In [76]:
paid_games['Metacritic'].mean()

66.93972944681536

In [77]:
paid_games.head()

,UserID,Name,behavior,hours,IsFree,Metacritic,PriceFinal,ReleaseDate,DLCCount
0,151603712,Fallout 4,play,87.0,False,84,59.99,Nov 9 2015,7
1,87445402,Fallout 4,play,83.0,False,84,59.99,Nov 9 2015,7
2,25096601,Fallout 4,play,1.6,False,84,59.99,Nov 9 2015,7
3,211925330,Fallout 4,play,133.0,False,84,59.99,Nov 9 2015,7
4,115396529,Fallout 4,play,17.9,False,84,59.99,Nov 9 2015,7

In [78]:
paid_games.to_csv('paid_games.csv')
free_games.to_csv('free_games.csv')

In [79]:
engine = create_engine("mysql://root:300Benchuongduong@localhost/steam")

In [80]:
paid_games.to_sql(name='steam',con=engine, if_exists = 'append', index=False)

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [82]:
free_games.to_sql(name = 'freegames', con=engine, if_exists = 'append', index = False)

In [ ]:
paid_games_df = pd.read_csv('paid_games.csv')