In [2]:
import pandas as pd 
from sqlalchemy import create_engine 
import pymysql
pymysql.install_as_MySQLdb()

engine = create_engine('sqlite://', echo=False)

In [3]:
steam_200k = pd.read_csv('VGPrices2.csv')
steam_200k.head()

,Unnamed: 0,Name,User ID,PriceFinal,DLCCount,behavior,hours,IsFree,Metacritic
0,98841,Clickteam Fusion 2.5,12610800,99.99,6,play,0.3,False,0
1,105997,RPG Maker MV,88199811,79.99,24,play,55.0,False,0
2,50084,RPG Maker VX Ace,94521606,69.99,101,play,2.4,False,0
3,50082,RPG Maker VX Ace,47457723,69.99,101,play,1.2,False,0
4,50020,RPG Maker VX Ace,64787956,69.99,101,play,53.0,False,0

In [4]:
steam_200k = steam_200k.rename(columns = {"Unnamed: 0": "key_id", 'User ID': 'userid'})
steam_200k.head()

,key_id,Name,userid,PriceFinal,DLCCount,behavior,hours,IsFree,Metacritic
0,98841,Clickteam Fusion 2.5,12610800,99.99,6,play,0.3,False,0
1,105997,RPG Maker MV,88199811,79.99,24,play,55.0,False,0
2,50084,RPG Maker VX Ace,94521606,69.99,101,play,2.4,False,0
3,50082,RPG Maker VX Ace,47457723,69.99,101,play,1.2,False,0
4,50020,RPG Maker VX Ace,64787956,69.99,101,play,53.0,False,0

In [16]:
steamusers = steam_200k[[ 'userid']]

In [17]:
steamusers.head()

     userid
0  12610800
1  88199811
2  94521606
3  47457723
4  64787956

In [22]:
steamusers = steamusers.drop_duplicates()
steamusers['userid'].value_counts()

131876863    1
215776525    1
254201131    1
209718563    1
24610082     1
194534689    1
144004384    1
177827103    1
241770928    1
181476633    1
68719896     1
230405922    1
308101403    1
197293332    1
262317184    1
270341392    1
301935887    1
194196780    1
148932080    1
179279152    1
302228798    1
210112807    1
145060724    1
64079170     1
94936385     1
131061056    1
75738431     1
193705276    1
138259286    1
140086587    1
            ..
159683231    1
212255389    1
3979930      1
243712157    1
302545663    1
171087166    1
42928788     1
4485779      1
227448167    1
62990992     1
194269839    1
167441059    1
115167911    1
156965566    1
295425801    1
98928829     1
61289147     1
110650041    1
247032504    1
103731895    1
33807030     1
117727921    1
294667556    1
129525006    1
222689962    1
66755246     1
177018855    1
307901099    1
213427457    1
112216065    1
Name: userid, Length: 9359, dtype: int64